* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  .content-section {
    background: lavender;
    height: 1000px;
    min-height: 100vh;
    padding: 1em;
  }

  .sidebar-section {
    height: 100%;
  }

  .sidebar-content {
    background: cornflowerblue;
    padding: 1em;
  }
  #baa {
  	padding-top: 2rem;
  	background-color: lightblue;
  }
  #icon {
  	height: 100px;
  	width: 100px;
  }